 <div class= 'fixed_header'>
<nav>
  <ul>
    <li class='left-nav' id='home_icon'>
      <%= link_to 'चतुरङ्ग', root_path %>
    </li>
    <li class='left-nav'>
      <%= link_to 'chess is', about_path %>
    </li>
    <li class='left-nav'>
      <%= link_to 'explore games', games_path %>
    </li>
  </ul>

</nav>
</div>
